// $tablet: @media screen and (min-width: 768px);




* {
	box-sizing: border-box;
	font-size: 35px;
	border-radius: 10px;
	// $tablet {
	// 	background-color: pink;
	// }
}

body {
	background: url('/static/img/background_salad.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}

.container {
	background-color: rgba(0, 0, 0, 0.6);
	margin: 0;
	padding: 10px;
	width: 100%;
	border: 5px #1C0F0F solid;
}

h1 {

	font-size: 4em;
	text-align: center;
	color: #F8FFDB;
	text-shadow: 3px 3px #1C0F0F;
	margin: 0;
	padding: 0;
}



.salad_container {
	width: 60%;
	padding: 0 auto;
	margin: 0 auto;

}

.salad_block {
	display: inline-block;
	border: solid #1C0F0F 4px;
	
	background-color: rgba(248, 255, 219, 0.9);

	width: 100%;
	margin: 10px auto;
	padding: 10px;

	text-align: center;
	font-size: 1.2em;
	
	// -webkit-transition: 2s; Safari 3.1 to 6.0
 //    transition: 2s;	

	
	h2 {
		margin: -5px;

		background-color: rgba(20, 85, 43, 0.6);
		border-radius: 5px;
		border-bottom: 4px solid #1C0F0F;

		font-size: 5em;
		color: #F4FEC1;
		font-family: 'Amatic SC', cursive;
		text-shadow: 3px 3px #1C0F0F;
	}

	ul {
		margin: 40px;
		padding: 0;
		text-align: left;
		list-style-type: none;
		color: #1C0F0F;
	}

	form {
		margin-top: 20px;
		border-top: dotted 4px #1C0F0F;

		h3 {
			font-size: 1.6em;
			font-family: 'Amatic SC', cursive;
			padding: 0;
			margin: 0;
			margin-top: 20px;
		}

		label {
			font-size: 0.6em;
			width: 100px;
			text-align: left;
			display: block;
			padding: 0;
			margin: 0;
			margin-bottom: -15px;
			margin-left: 10%;
		}

		input {
			margin-top: 20px;
			display: inline-block;
			font-size: 1em;
			width: 80%;
			height: 50px;
			margin-bottom: 10px;
		}
		#submit {
			height: 50px;
			margin: 10px;
			margin-top: 20px;
			width: 80%;
			border-style: none; 
			background-color: #5F0505;
			color: #F4FEC1;
			font-size: 1em;
		}
	}

	.is_hidden {
		display: none;
	}

}


.footer {
	position: relative;
}