<!--template for html-->

<html>
    <head>
        <style type="text/css">
            .footer {
                position: fixed;
                bottom: 0px;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div id="app"></div>

        <div class="footer"> This app was created dojo-style by Jamal Carvalho (S2'15), Madelyn Ruth Freed (S2'15), Shad William Hopson (F1'15), Kristin Linn (F1'15), Elizabeth Sander (S2'15), Alicia Thilani Singham Goodwin (F1'15), Alex Takata (F1'15), Liene Verzemnieks (S2'15), and Weston Elliott Vial (S2'15)</div>
        <script src="http://localhost:8080/assets/abstract-salad.js"></script>
    </body>
</html>
